# 환경 변수
.env

# Google OAuth 관련 파일 (절대 커밋 금지)
token.pickle
credentials.json

# Python 관련
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Node.js
node_modules/

# IDE
.vscode/
.idea/
.DS_Store

# Airflow
airflow/logs/*
!airflow/logs/.gitkeep

# data
data.ipynb 
mimic_total.*
data-pipeline/data/duckdb/
data-pipeline/models/
data-pipeline/data/processed/*.csv
data-pipeline/data/raw/hosp/