# Google OAuth 관련 파일 (절대 커밋 금지)
token.pickle
credentials.json

# Python 관련
__pycache__/
*.pyc
*.pyo
.env
venv/
*.ipynb_checkpoints/
check_dim.py 
whichgmini.py
drive_utils.py
googledrive.ipynb   


#vectorDB
db_medical/
estimate.py
guidelines/
ingest_bge_m3_supabase.py

.xlsx
.env